.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    
}

.logo-container{
    display:  flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* justify-content: space-between; */
}

.res-card{
    width: 200px;
    /* height: 350px; */
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.res-logo{
    width: 190px;
    margin: 5px;
}

/* Shimmer card layout */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background: #f0f0f0;
}

/* Image placeholder */
.shimmer-img {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to right,
    #eeeeee 0%,
    #dddddd 50%,
    #eeeeee 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

/* Text placeholder */
.shimmer-line {
  height: 15px;
  margin: 10px 0;
  background: linear-gradient(
    to right,
    #eeeeee 0%,
    #dddddd 50%,
    #eeeeee 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.shimmer-line.title {
  height: 20px;
  width: 80%;
}

.shimmer-line.small {
  width: 60%;
}

/* Animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}




.login{
  padding: 0 20px;
  cursor: pointer;
}

.search{
  margin: 20px 10px;
}

.filter{
  display: flex;
}