.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    
}

.logo-container{
    display:  flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.res-card{
    width: 200px;
    height: 300px;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 190px;
    margin: 5px;
}

